$bluemain: #629AF3;	// Main Primary color */
$bluewhite: #F3F8FE;
$bluelight: #9EC0F6;
$bluedark: #2C79F2;
$bluedarker: #035FF0;

$purplemain: #7F68F4;	// Main Secondary color (1) */
$purplewhite: #F6F4FE;
$purplelight: #B0A1F7;
$purpledark: #5333F4;
$purpledarker: #2C04F2;

$yellowmain: #FFDE57;	// Main Secondary color (2) */
$yellowwhite: #FFFDF3;
$yellowlight: #FFEB9A;
$yellowmdark: #FFD119;
$yellowmdarker: #FFCD00;

$orangemain: #FFC257;	// Main Complement color */
$orangewhite: #FFFBF3;
$orangelight: #FFDA9A;
$orangedark: #FFAB19;
$orangedarker: #FFA200;

.clients {
   padding-top: 50px;
   background-color: $bluelight;
   
  
    
}

